#contact {
  .contact__head {
    padding: 3.125rem 0;
    text-align: center;
    
    .contact__title {
      margin-bottom: 0.4rem;
      font-size: 2.625rem;
      font-weight: bold;
    }

    .contact__description {
      font-size: 1.2rem;
      word-break: keep-all;
    }
  }

  .contact__inner {
    .contact__content {
      display: flex;
      gap: 3rem;
      height: 21.875rem;

      #map {
        flex: 1;
        height: 21.875rem !important;
        border-radius: 0.625rem;
        border: 0.0625rem solid var(--primary-border-color);
      }

      .contact__info {
        width: 34%;

        .contact__info-title {
          position: relative;
          margin-bottom: 0.625rem;
          font-size: 1.4rem;
        }

        .contact__details {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          .contact__details-item {
            padding: 0.875rem 0;
            border-bottom: 0.0625rem solid var(--primary-border-color);

            &:has(.address) {
              display: flex;
              justify-content: space-between;
            }

            &.full-type {
              grid-column: 2 span;
            }

            .contact__details-title {
              margin-bottom: 0.625rem;
            }

            .contact__details-text {
              position: relative;
              display: block;
              padding-left: 1.25rem;

              &::before {
                position: absolute;
                top: 0.3rem;
                left: 0;
                margin-right: 0.625rem;
                font-family: "Font Awesome 6 Free";
                font-weight: 600;
                font-size: 0.8rem;
              }

              &.address {
                flex: 1;

                &::before {
                  content: "\f3c5";
                }
              }

              &.phone,
              &.inquiry {
                &::before {
                  content: "\f095";
                }
              }

              &.email {
                &::before {
                  content: "\f0e0";
                }
              }
            }

            .btn-find-route {
              a {
                padding: 0.25rem 0.5rem;
                border-radius: 0.25rem;
                font-size: 0.8rem;
                transition: background-color ease 0.3s;
                background-color: var(--primary-text-color);
                color: var(--primary-bg-color);

                & > i {
                  margin-right: 0.5rem;
                }

                &:hover {
                  background-color: var(--primary-color);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #contact {
    .contact__inner {
      .contact__content {
        gap: 1.5rem;
        height: auto;

        .contact__info {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #contact {
    .contact__head {
      padding: 2rem 0;
      
      .contact__title {
        margin-bottom: 0.2rem;
        font-size: 2rem;
      }
  
      .contact__description {
        font-size: 1rem;
      }
    }

    .contact__inner {
      .contact__content {
        flex-direction: column;
        gap: 1.875rem;

        #map {
          height: 12.5rem !important;
          flex: unset;
        }

        .contact__info {
          width: 100%;

          .contact__details {
            .contact__details-item {
              .contact__details-text {
                font-size: 0.8rem;

                &::before {
                  top: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}