#notice {
  .notice__head {
    padding: 3.125rem 0;
    text-align: center;

    .notice__title {
      margin-bottom: 0.4rem;
      font-size: 2.625rem;
      font-weight: bold;
    }

    .notice__description {
      font-size: 1.2rem;
      word-break: keep-all;
    }
  }

  .tabs {
    .tab__buttons {
      display: flex;

      .tab__button {
        position: relative;
        flex: 1;
        padding: 10px;
        cursor: pointer;
        text-align: center;
        color: var(--primary-text-color);
        transition: color ease .5s;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 2px;
          background: var(--primary-color);
          transform: scale(0);
          transition: transform ease .5s;
        }

        &.active, 
        &:hover {
          color: var(--primary-color);

          &:after {
            transform: scale(1);
          }
        }
      }
    }

    .tab__content {
      margin-top: 3rem;

      .notice__list {
        display: none;
        flex-direction: column;
        gap: 1.5rem;

        &.active {
          display: flex;
        }

        .notice__list-item {
          padding: 1.5rem;
          background-color: var(--secondary-bg-color);
          border-radius: 10px;
          cursor: pointer;

          &:hover {
            .notice__list-title {
              text-decoration: underline;
            }
          }

          .notice__list-title {
            margin-bottom: 0.4rem;
            font-size: 1.2rem;
            font-weight: bold;
            -webkit-text-decoration: underline transparent;
            text-decoration: underline transparent;
            text-overflow: ellipsis;
            text-underline-offset: 0.2rem;
            transition: text-decoration ease 0.3s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #notice {
    .notice__head {
      padding: 2rem 0;
  
      .notice__title {
        margin-bottom: 0.2rem;
        font-size: 2rem;
      }
  
      .notice__description {
        font-size: 1rem;
      }
    }

    .tabs {
      .tab__content {
        margin-top: 1.5rem;

        .notice__list {
          gap: 0.75rem;

          .notice__list-item {
            padding: 1rem;
            
            .notice__list-title {
              font-size: 1rem;
            }

            .notice__list-content {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}