@charset "UTF-8";
:root {
  /* 기본 색상 변수 */
  --primary-color: light-dark(rgb(13, 110, 253), rgb(13, 110, 253));
  --primary-clear-color: light-dark(
    rgba(13, 110, 253, 0.2),
    rgba(13, 110, 253, 0.2)
  );
  --primary-bg-color: light-dark(#fff, #272727);
  --primary-text-color: light-dark(#333, #e0e0e0);
  --primary-border-color: light-dark(#333, #e0e0e0);
  --secondary-text-color: light-dark(#757575, #757575);
  --secondary-bg-color: light-dark(#f5f5f5, #444);
  --secondary-border-color: light-dark(#eaedf4, #444);
  --footer-bg-color: light-dark(#f8f8f8, #222);
  --font-size: 100%;
  /* 포트폴리오, 인터뷰, 동료 카드의 배경 색상 */
  --portfolio-bg-color: light-dark(#000, #1e1e1e);
  --interview-bg-color: light-dark(#ece8e5, #1e1e1e);
  --coworker-bg-color: light-dark(#e7e7da, #1e1e1e);
}

/* 박스 모델을 전역적으로 border-box로 설정 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 글꼴 및 텍스트 스타일 초기화 */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Pretendard", sans-serif;
  font-size: 100%;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HTML 요소의 기본 스타일 제거 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* form 요소 초기화 */
input,
button,
textarea,
select {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* 필드셋과 레전드 초기화 */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: none;
}

/* 테이블 초기화 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  padding: 0;
}

/* 목록과 리스트 항목 초기화 */
ul,
ol {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

/* 기본 block-level 요소의 margin과 padding 초기화 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
ol,
li,
dl,
dt,
dd,
form,
figure,
hr,
table,
th,
td {
  margin: 0;
  padding: 0;
}

/* 하이퍼링크 스타일 초기화 */
a:focus,
a:hover {
  text-decoration: none;
}

/* 폼 요소 스타일 초기화 */
button,
input,
select,
textarea {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* 영역의 기본 스타일을 초기화 */
details,
summary {
  display: block;
}

/*  탭 */
.tab {
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 77.5rem;
  width: 100%;
}
.tab__buttons {
  display: flex;
}
.tab__button {
  position: relative;
  flex: 1;
  padding: 0.625rem;
  cursor: pointer;
  text-align: center;
  color: var(--primary-text-color);
  transition: color ease 0.5s;
}
.tab__button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  transform: scale(0);
  transition: transform ease 0.5s;
}
.tab__button.--active, .tab__button:hover {
  color: var(--primary-color);
}
.tab__button.--active:after, .tab__button:hover:after {
  transform: scale(1);
}
.tab__content {
  margin-top: 3rem;
}

/* 시각적으로 숨기고 스크린 리더에서만 노출 */
.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* 한 줄 말줄임 */
.ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 다중 줄 말줄임 */
.multi-ellipsis {
  display: block;
  display: -webkit-box;
  display: -ms-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-width: 100%;
  word-wrap: break-word;
  word-break: keep-all;
  text-overflow: ellipsis;
}

/* 라디오 버튼을 클릭하면 테마 변경 */
:root:has(input[name=color-scheme][value=light]:checked) {
  color-scheme: light;
}
:root:has(input[name=color-scheme][value=light]:checked) label[for=light] {
  display: none;
}
:root:has(input[name=color-scheme][value=dark]:checked) {
  color-scheme: dark;
}
:root:has(input[name=color-scheme][value=dark]:checked) label[for=dark] {
  display: none;
}

@media screen and (max-width: 768px) {
  /*  탭 */
  .tab__content {
    margin-top: 1.5rem;
  }
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}
body.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out;
}
body.visible {
  opacity: 1;
  visibility: visible;
}

/* 헤더 */
.header {
  position: fixed;
  width: 100%;
  height: 5rem;
  z-index: 10;
  transition: background-color ease 0.3s, box-shadow ease 0.3s;
  /* 헤더 활성화 스타일 */
}
.header__inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 77.5rem;
  width: 100%;
  height: 100%;
}
.header__logo {
  width: 6.25rem;
  height: 2.125rem;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .gnb__list {
  display: flex;
  gap: 2rem;
}
.header .gnb__list-link {
  position: relative;
  font-size: 0.8rem;
  color: #e0e0e0;
}
.header .gnb__list-link::after {
  content: "";
  position: absolute;
  top: calc(100% + 0.25rem);
  display: block;
  width: 100%;
  height: 0.125rem;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  transition: all 0.3s ease;
  background-color: #e0e0e0;
}
.header .gnb__list-link:hover::after, .header .gnb__list-link.--active::after {
  opacity: 1;
  transform: scaleX(1);
}
.header .utility {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  justify-self: flex-end;
}
.header .utility__button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .utility__button > i {
  font-size: 20px;
  color: #e0e0e0;
}
.header .utility__button input[type=radio] {
  display: none;
}
.header .utility__button.btn-hamburger {
  display: none;
}
.header.header--sub, .header.--active {
  background-color: var(--primary-bg-color);
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.12);
}
.header.header--sub .header__logo img.header__logo--white, .header.--active .header__logo img.header__logo--white {
  display: none;
}
.header.header--sub .header__logo img.header__logo--black, .header.--active .header__logo img.header__logo--black {
  display: block;
}
.header.header--sub .gnb__list-link, .header.--active .gnb__list-link {
  color: var(--primary-text-color);
}
.header.header--sub .gnb__list-link::after, .header.--active .gnb__list-link::after {
  background-color: var(--primary-text-color);
}
.header.header--sub .utility__button > i, .header.--active .utility__button > i {
  color: var(--primary-text-color);
}

/* 사이드바 */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--primary-bg-color);
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
.sidebar--open {
  transform: translateX(0);
}
.sidebar__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sidebar__head {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.25rem;
  height: 3.125rem;
  border-bottom: 0.0625rem solid var(--primary-border-color);
}
.sidebar__head .btn-close {
  font-size: 1.2rem;
  color: var(--primary-text-color);
}
.sidebar__menu {
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
  padding: 0 1.25rem;
}
.sidebar .menu__list {
  padding: 0.625rem 0;
}
.sidebar .menu__list-link {
  display: inline-block;
  padding: 0.875rem 0;
  width: 100%;
  font-size: 1.2rem;
}

/* 메인 */
main {
  flex: 1;
}
main .section__head {
  margin: 0 auto 30px;
  max-width: 1200px;
}

.main--sub {
  padding: 5rem 0;
}
.main--sub .section__head {
  padding: 3.125rem 0;
  text-align: center;
}
.main--sub .section__title {
  margin-bottom: 0.4rem;
  font-size: 2.625rem;
  font-weight: bold;
}
.main--sub .section__description {
  font-size: 1.2rem;
  word-break: keep-all;
}

/* 푸터 */
.footer {
  background-color: var(--footer-bg-color);
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3.75rem 1.25rem;
  max-width: 77.5rem;
  width: 100%;
  font-size: 0.8rem;
}
.footer__logo {
  width: 6.25rem;
  height: 2.125rem;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__logo img.footer__logo--white {
  display: none;
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 40%;
}
.footer__menu-title {
  margin-bottom: 1.25rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.footer__list-link {
  line-height: 1.2;
  transition: color ease 0.3s;
  word-break: keep-all;
}
.footer__list-link:hover {
  color: var(--primary-color);
}
.footer .subfooter {
  padding: 2.5rem 0;
  border-top: 0.0625rem solid var(--secondary-border-color);
}
.footer .subfooter__inner {
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 77.5rem;
  width: 100%;
  font-size: 0.8rem;
}

@media screen and (max-width: 1024px) {
  /* 헤더 */
  .header {
    height: 3.125rem;
  }
  .header__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .header__logo {
    width: 4rem;
    height: 1rem;
  }
  .header .gnb {
    display: none;
  }
  .header .utility__button > i {
    font-size: 1.2rem;
  }
  .header .utility__button.btn-hamburger {
    display: block;
  }
  /* 메인 */
  .main--sub {
    padding: 3.125rem 0;
  }
  /* 사이드바 */
  .sidebar {
    display: flex;
  }
  /* 푸터 */
  .footer__logo {
    width: 4rem;
    height: 1rem;
  }
  .footer__menu {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  /* 헤더 */
  .header .btn-wrap {
    gap: 1.5rem;
  }
  /* 메인 */
  .main--sub .section__head {
    padding: 2.5rem 0;
  }
  .main--sub .section__title {
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
  }
  .main--sub .section__description {
    font-size: 0.8rem;
  }
  /* 푸터 */
  .footer__inner {
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.875rem 1.25rem;
  }
  .footer__logo {
    width: 4rem;
    height: 1rem;
  }
  .footer__menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
    width: 100%;
  }
  .footer__menu-item:last-child {
    grid-column: 2 span;
  }
  .footer .subfooter {
    padding: 1.25rem;
  }
  .footer .subfooter__inner {
    padding: 0;
  }
}
/* 회사 소개*/
.company__inner {
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 77.5rem;
  width: 100%;
}
.company__intro {
  display: flex;
  gap: 1.5rem;
  height: 18.75rem;
}
.company__info {
  position: relative;
  width: 60%;
  height: 100%;
  transform: translateY(40%);
  opacity: 0;
  transition: all 1s ease-out;
}
.company__info.--visible {
  transform: translateY(0);
  opacity: 1;
}
.company__info::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("/assets/images/bg/company/bg_company1.png") no-repeat right/auto 100%;
  z-index: -1;
}
.company__description {
  width: 100%;
  max-width: 46.20294rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 1.73rem;
  word-break: keep-all;
}
.company__thumbnail {
  position: relative;
  width: 40%;
  height: 100%;
  cursor: pointer;
  transform: translateY(40%);
  opacity: 0;
  transition: all 1s ease-out;
  transition-delay: 0.6s;
  border-radius: 0.5rem;
  overflow: hidden;
}
.company__thumbnail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.company__thumbnail.--visible {
  transform: translateY(0);
  opacity: 1;
}
.company__thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.company__card-item {
  flex: 1;
  padding: 1.2rem;
  transition: transform ease 0.5s, box-shadow ease 0.5s;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--secondary-bg-color);
  opacity: 0;
  transform: translateY(20%);
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1.25), opacity ease 0.8s;
}
.company__card-item.--visible {
  opacity: 1;
  transform: translateY(0);
}
.company__card-item:nth-child(2) {
  transition-delay: 0.1s;
}
.company__card-item:nth-child(3) {
  transition-delay: 0.3s;
}
.company__card-item:nth-child(4) {
  transition-delay: 0.5s;
}
.company__card-item.qna ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.company__card-item.qna ul li a {
  font-weight: 400;
  line-height: 1.8125rem;
  -webkit-text-decoration: underline transparent;
  text-decoration: underline transparent;
  text-overflow: ellipsis;
  text-underline-offset: 0.2rem;
  transition: text-decoration ease 0.3s;
  word-break: keep-all;
}
.company__card-item.qna ul li a:hover {
  text-decoration: underline;
}
.company__card-item:not(:first-child):hover {
  transform: scale(1.02);
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.12);
}
.company__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  gap: 1.5rem;
  margin-top: 2.69rem;
  border-top: 0.0625rem solid var(--secondary-border-color);
  padding-top: 4.69rem;
}
.company__card-title {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8125rem;
  margin-bottom: 1rem;
}
.company__card-content {
  word-break: keep-all;
}
.company .btn-more {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6875rem;
  text-transform: lowercase;
  transition: color ease 0.5s;
}
.company .btn-more:hover {
  color: var(--primary-color);
}

/* 비전 */
.vision {
  padding: 6.25rem 0;
  /* 비전 컨테이너 */
  /* 비전 개별 컨테이너 (텍스트, 이미지) */
  /* 비전 텍스트박스(타이틀,내용,버튼) */
}
.vision_inner {
  margin: 0 auto;
}
.vision__card:nth-child(even) {
  background-color: var(--secondary-bg-color);
}
.vision__card-content {
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 77.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 30rem;
}
.vision .text-box {
  flex: 1;
  transform: translateY(20%);
  opacity: 0;
  transition: all 1s ease-out;
  cursor: pointer;
  /* 비전 텍스트박스(타이틀) */
  /* 비전 텍스트박스(내용) */
  /* 비전 텍스트박스(버튼) */
}
.vision .text-box.--visible {
  transform: translateY(0);
  opacity: 1;
}
.vision .text-box__header {
  position: relative;
  margin-bottom: 0.875rem;
}
.vision .text-box__title {
  /* 비전 텍스트박스(타이틀 배경글자) */
}
.vision .text-box__title--back {
  position: absolute;
  left: -2rem;
  top: -2.4rem;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--secondary-text-color);
  font-family: "Yantramanav", serif;
  font-weight: 900;
  font-style: normal;
}
.vision .text-box__title--main {
  position: relative;
  z-index: 1;
  font-size: 3.5rem;
  font-weight: bold;
}
.vision .text-box__description {
  font-size: 1rem;
  margin-bottom: 2.3rem;
  color: var(--secondary-text-color);
}
.vision .text-box__more {
  display: inline-flex;
  align-items: center;
  border: 0.0625rem solid var(--primary-border-color);
  border-radius: 1.875rem;
  border-right: none;
  transition: color 0.6s ease, transform 0.6s ease;
}
.vision .text-box__more:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}
.vision .text-box__more:hover .text-box__more-icon::after {
  background: url("/assets/images/icon/vision/icon_arrow_main.svg") no-repeat center/contain;
}
.vision .text-box__more-text {
  padding: 0 1rem;
}
.vision .text-box__more-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1;
  border: 1px solid var(--primary-border-color);
  border-radius: 50%;
  position: relative;
}
.vision .text-box__more-icon::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: url("/assets/images/icon/vision/icon_arrow_black.svg") no-repeat center/contain;
}
.vision__image {
  width: 30rem;
  height: calc(100% + 6.4rem);
  overflow: hidden;
  border-radius: 0.625rem;
  transform: translateY(20%);
  opacity: 0;
  transition: all 1s ease-out;
  cursor: pointer;
  transition-delay: 0.2s;
}
.vision__image.--visible {
  transform: translateY(0);
  opacity: 1;
}
.vision__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}
.vision__image img:hover {
  z-index: 10;
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  /* 비전 */
  .vision__image {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  /* 회사 소개 */
  .company__intro {
    flex-direction: column;
    height: auto;
  }
  .company__info {
    width: 100%;
  }
  .company__description {
    margin-bottom: 1rem;
    line-height: 1.4rem;
    font-size: 1rem;
  }
  .company__thumbnail {
    width: 100%;
    height: 9.5rem;
  }
  .company__card {
    grid-template-columns: 1fr;
    gap: 0.75rem;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
  }
  .company__card-item.qna ul li a {
    font-size: 1rem;
  }
  .company__card-title {
    margin-bottom: 0.2rem;
    font-size: 1rem;
  }
  .company__card-content {
    font-size: 0.8rem;
  }
  .company .btn-more {
    font-size: 0.8rem;
  }
  /* 비전 */
  .vision {
    padding: 2.5rem 0;
  }
  .vision__card-content {
    gap: 0.75rem;
    height: 12rem;
  }
  .vision .text-box__header {
    margin-bottom: 0.4rem;
  }
  .vision .text-box__title--back {
    top: -1rem;
    left: -0.7rem;
    font-size: 2rem;
  }
  .vision .text-box__title--main {
    font-size: 1.3rem;
  }
  .vision .text-box__description {
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
  }
  .vision .text-box__more-text {
    padding: 0 0.6rem;
    font-size: 0.8rem;
  }
  .vision .text-box__more-icon {
    width: 1.4rem;
  }
  .vision .text-box__more-icon::after {
    width: 1rem;
  }
  .vision__image {
    width: 45%;
    height: calc(100% + 2.8rem);
  }
}
/* 다크 모드 */
[data-theme=dark] .vision .text-box__more-icon::after {
  background: url("/assets/images/icon/vision/icon_arrow_white.svg") no-repeat center/contain;
}

/*# sourceMappingURL=about.css.map */
