@charset "UTF-8";
:root {
  /* 기본 색상 변수 */
  --primary-color: light-dark(rgb(13, 110, 253), rgb(13, 110, 253));
  --primary-clear-color: light-dark(
    rgba(13, 110, 253, 0.2),
    rgba(13, 110, 253, 0.2)
  );
  --primary-bg-color: light-dark(#fff, #272727);
  --primary-text-color: light-dark(#333, #e0e0e0);
  --primary-border-color: light-dark(#333, #e0e0e0);
  --secondary-text-color: light-dark(#757575, #757575);
  --secondary-bg-color: light-dark(#f5f5f5, #444);
  --secondary-border-color: light-dark(#eaedf4, #444);
  --footer-bg-color: light-dark(#f8f8f8, #222);
  --fixed-light-color: light-dark(#e0e0e0, #e0e0e0);
  --font-size: 100%;
  /* 포트폴리오, 인터뷰, 동료 카드의 배경 색상 */
  --portfolio-bg-color: light-dark(#000, #1e1e1e);
  --interview-bg-color: light-dark(#ece8e5, #1e1e1e);
  --coworker-bg-color: light-dark(#e7e7da, #1e1e1e);
}

/* 박스 모델을 전역적으로 border-box로 설정 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 글꼴 및 텍스트 스타일 초기화 */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Pretendard", sans-serif;
  font-size: 100%;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HTML 요소의 기본 스타일 제거 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* form 요소 초기화 */
input,
button,
textarea,
select {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* 필드셋과 레전드 초기화 */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: none;
}

/* 테이블 초기화 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  padding: 0;
}

/* 목록과 리스트 항목 초기화 */
ul,
ol {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

/* 기본 block-level 요소의 margin과 padding 초기화 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
ol,
li,
dl,
dt,
dd,
form,
figure,
hr,
table,
th,
td {
  margin: 0;
  padding: 0;
}

/* 하이퍼링크 스타일 초기화 */
a:focus,
a:hover {
  text-decoration: none;
}

/* 폼 요소 스타일 초기화 */
button,
input,
select,
textarea {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* 영역의 기본 스타일을 초기화 */
details,
summary {
  display: block;
}

/*  탭 */
.tab {
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 77.5rem;
  width: 100%;
}
.tab__buttons {
  display: flex;
}
.tab__button {
  position: relative;
  flex: 1;
  padding: 0.625rem;
  cursor: pointer;
  text-align: center;
  color: var(--primary-text-color);
  transition: color ease 0.5s;
}
.tab__button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  transform: scale(0);
  transition: transform ease 0.5s;
}
.tab__button.--active, .tab__button:hover {
  color: var(--primary-color);
}
.tab__button.--active:after, .tab__button:hover:after {
  transform: scale(1);
}
.tab__content {
  margin-top: 3rem;
}

/* 시각적으로 숨기고 스크린 리더에서만 노출 */
.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* 한 줄 말줄임 */
.ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 다중 줄 말줄임 */
.multi-ellipsis {
  display: block;
  display: -webkit-box;
  display: -ms-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-width: 100%;
  word-wrap: break-word;
  word-break: keep-all;
  text-overflow: ellipsis;
}

/* 라디오 버튼을 클릭하면 테마 변경 */
:root:has(input[name=color-scheme][value=light]:checked) {
  color-scheme: light;
}
:root:has(input[name=color-scheme][value=light]:checked) label[for=light] {
  display: none;
}
:root:has(input[name=color-scheme][value=dark]:checked) {
  color-scheme: dark;
}
:root:has(input[name=color-scheme][value=dark]:checked) label[for=dark] {
  display: none;
}

@media screen and (max-width: 768px) {
  /*  탭 */
  .tab__content {
    margin-top: 1.5rem;
  }
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}
body.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out;
}
body.visible {
  opacity: 1;
  visibility: visible;
}

/* 헤더 */
.header {
  position: fixed;
  width: 100%;
  height: 5rem;
  z-index: 10;
  transition: background-color ease 0.3s, box-shadow ease 0.3s;
  /* 헤더 활성화 스타일 */
}
.header__inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 77.5rem;
  width: 100%;
  height: 100%;
}
.header__logo {
  width: 6.25rem;
  height: 2.125rem;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__logo img.header__logo--black {
  display: none;
}
.header .gnb__list {
  display: flex;
  gap: 2rem;
}
.header .gnb__list-link {
  position: relative;
  font-size: 0.8rem;
  color: var(--fixed-light-color);
}
.header .gnb__list-link::after {
  content: "";
  position: absolute;
  top: calc(100% + 0.25rem);
  display: block;
  width: 100%;
  height: 0.125rem;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  transition: all 0.3s ease;
  background-color: var(--fixed-light-color);
}
.header .gnb__list-link:hover::after, .header .gnb__list-link.--active::after {
  opacity: 1;
  transform: scaleX(1);
}
.header .utility {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  justify-self: flex-end;
}
.header .utility__button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .utility__button > i {
  font-size: 20px;
}
.header .utility__button input[type=radio] {
  display: none;
}
.header .utility__button.btn-hamburger {
  display: none;
}
.header.header--sub, .header.--active {
  background-color: var(--primary-bg-color);
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.12);
}
.header.header--sub .header__logo img.header__logo--white, .header.--active .header__logo img.header__logo--white {
  display: none;
}
.header.header--sub .header__logo img.header__logo--black, .header.--active .header__logo img.header__logo--black {
  display: block;
}
.header.header--sub .gnb__list-link, .header.--active .gnb__list-link {
  color: var(--primary-text-color);
}
.header.header--sub .gnb__list-link::after, .header.--active .gnb__list-link::after {
  background-color: var(--primary-text-color);
}
.header.header--sub .btn-hamburger > i, .header.--active .btn-hamburger > i {
  color: var(--primary-text-color);
}
.header.header--sub #btn-theme-toggle, .header.--active #btn-theme-toggle {
  color: var(--primary-text-color);
}

/* 사이드바 */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--primary-bg-color);
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
.sidebar--open {
  transform: translateX(0);
}
.sidebar__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sidebar__head {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.25rem;
  height: 3.125rem;
  border-bottom: 0.0625rem solid var(--primary-border-color);
}
.sidebar__head .btn-close {
  font-size: 1.2rem;
  color: var(--primary-text-color);
}
.sidebar__menu {
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
  padding: 0 1.25rem;
}
.sidebar .menu__list {
  padding: 0.625rem 0;
}
.sidebar .menu__list-link {
  display: inline-block;
  padding: 0.875rem 0;
  width: 100%;
  font-size: 1.2rem;
}

/* 메인 */
main {
  flex: 1;
}
main .section__head {
  margin: 0 auto 30px;
  max-width: 1200px;
}

.main--sub {
  padding: 5rem 0;
}
.main--sub .section__head {
  padding: 3.125rem 0;
  text-align: center;
}
.main--sub .section__title {
  margin-bottom: 0.4rem;
  font-size: 2.625rem;
  font-weight: bold;
}
.main--sub .section__description {
  font-size: 1.2rem;
  word-break: keep-all;
}

/* 푸터 */
.footer {
  background-color: var(--footer-bg-color);
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3.75rem 1.25rem;
  max-width: 77.5rem;
  width: 100%;
  font-size: 0.8rem;
}
.footer__logo {
  width: 6.25rem;
  height: 2.125rem;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__logo img.footer__logo--white {
  display: none;
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 40%;
}
.footer__menu-title {
  margin-bottom: 1.25rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.footer__list-link {
  line-height: 1.2;
  transition: color ease 0.3s;
  word-break: keep-all;
}
.footer__list-link:hover {
  color: var(--primary-color);
}
.footer .subfooter {
  padding: 2.5rem 0;
  border-top: 0.0625rem solid var(--secondary-border-color);
}
.footer .subfooter__inner {
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 77.5rem;
  width: 100%;
  font-size: 0.8rem;
}

@media screen and (max-width: 1024px) {
  /* 헤더 */
  .header {
    height: 3.125rem;
  }
  .header__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .header__logo {
    width: 4rem;
    height: 1rem;
  }
  .header .gnb {
    display: none;
  }
  .header .utility__button > i {
    font-size: 1.2rem;
  }
  .header .utility__button.btn-hamburger {
    display: block;
  }
  /* 메인 */
  .main--sub {
    padding: 3.125rem 0;
  }
  /* 사이드바 */
  .sidebar {
    display: flex;
  }
  /* 푸터 */
  .footer__logo {
    width: 4rem;
    height: 1rem;
  }
  .footer__menu {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  /* 헤더 */
  .header .btn-wrap {
    gap: 1.5rem;
  }
  /* 메인 */
  .main--sub .section__head {
    padding: 2.5rem 0;
  }
  .main--sub .section__title {
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
  }
  .main--sub .section__description {
    font-size: 0.8rem;
  }
  /* 푸터 */
  .footer__inner {
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.875rem 1.25rem;
  }
  .footer__logo {
    width: 4rem;
    height: 1rem;
  }
  .footer__menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
    width: 100%;
  }
  .footer__menu-item:last-child {
    grid-column: 2 span;
  }
  .footer .subfooter {
    padding: 1.25rem;
  }
  .footer .subfooter__inner {
    padding: 0;
  }
}
/* 다크 모드 */
[data-theme=dark] {
  /* 헤더 */
  /* 푸터 */
}
[data-theme=dark] .header--sub .header__logo img.header__logo--white, [data-theme=dark] .header.--active .header__logo img.header__logo--white {
  display: block;
}
[data-theme=dark] .header--sub .header__logo img.header__logo--black, [data-theme=dark] .header.--active .header__logo img.header__logo--black {
  display: none;
}
[data-theme=dark] .footer__logo img.footer__logo--white {
  display: block;
}
[data-theme=dark] .footer__logo img.footer__logo--black {
  display: none;
}

.notice__list {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
}
.notice__list.--active {
  display: flex;
}
.notice__list-item {
  padding: 1.5rem;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  cursor: pointer;
}
.notice__list-item:hover .notice__list-title {
  text-decoration: underline;
}
.notice__list-title {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  -webkit-text-decoration: underline transparent;
  text-decoration: underline transparent;
  text-overflow: ellipsis;
  text-underline-offset: 0.2rem;
  transition: text-decoration ease 0.3s;
}

@media screen and (max-width: 768px) {
  .notice__list {
    gap: 0.75rem;
  }
  .notice__list-item {
    padding: 1rem;
  }
  .notice__list-title {
    font-size: 1rem;
  }
  .notice__list-content {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=notice.css.map */
