.portfolio {
  &--slide {
    margin-bottom: 3rem;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__inner {
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 77.5rem;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;

    &-wrap {
      position: relative;
      display: flex;
      height: 37.5rem;
    }
  }

  &__details {
    &-title {
      margin-bottom: 0.5rem;
      line-height: 1;
      font-size: 1.4rem;
    }

    &-creator {
      font-size: 1rem;
      letter-spacing: 0.24rem;
    }
  }

  &__picture {
    position: relative;
    flex: 0 0 70%;
    transition: transform 0.3s ease;
    border-radius: 0.625rem;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    &.--active {
      &::before {
        opacity: 0;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-wrap {
      position: absolute;
      left: 30%;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &-container {
      display: flex;
      gap: 0.625rem;
      height: 100%;
      transition: transform ease 0.6s;
    }
  }

  &__control {
    display: flex;
    justify-content: flex-end;
    gap: 1.25rem;
    margin-top: 1.25rem;

    &-prev,
    &-next {
      width: 3.1rem;
      height: 0.8rem;
      z-index: 1;
      cursor: pointer;
    }

    &-prev {
      background: url("../../images/icon/portfolio/icon_prev_black.svg")
        no-repeat center / contain;
    }

    &-next {
      background: url("../../images/icon/portfolio/icon_next_black.svg")
        no-repeat center / contain;
    }
  }
}

@media screen and (max-width: 1024px) {
  .portfolio {
    &__info {
      &-wrap {
        height: 31.25rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    &--slide {
      margin-bottom: 1.25rem;
    }

    &__info {
      width: 100%;

      &-wrap {
        flex-direction: column;
        gap: 1.5rem;
        height: auto;
      }
    }

    &__details {
      &-title {
        margin-bottom: 0.4rem;
        font-size: 1rem;
      }

      &-creator {
        font-size: 0.8rem;
      }
    }

    &__picture {
      flex: 0 0 100%;

      &-wrap {
        position: relative;
        left: 0;
      }
    }

    &__control {
      gap: 0.75rem;
      padding: 0 1.25rem;

      &-prev,
      &-next {
        width: 2rem;
        height: 0.6rem;
      }
    }
  }
}

/* 다크 모드 */
[data-theme="dark"] {
  .portfolio {
    &__control {
      &-prev {
        background: url("../../images/icon/portfolio/icon_prev_white.svg")
          no-repeat center / contain;
      }

      &-next {
        background: url("../../images/icon/portfolio/icon_next_white.svg")
          no-repeat center / contain;
      }
    }
  }
}
