<div class="sidebar__inner">
  <div class="sidebar__head">
    <button type="button" title="메뉴 닫기" class="btn-close">
      <i class="bx bx-x"></i>
    </button>
  </div>

  <nav class="sidebar__menu">
    <ul class="menu__list">
      <li class="menu__list-item">
        <a
          href="./portfolio.html"
          class="menu__list-link"
          title="포트폴리오 페이지로 이동"
          >포트폴리오</a
        >
      </li>

      <li class="menu__list-item">
        <a
          href="./interview.html"
          class="menu__list-link"
          title="인터뷰 페이지로 이동"
          >인터뷰</a
        >
      </li>

      <li class="menu__list-item">
        <a
          href="./news.html"
          class="menu__list-link"
          title="뉴스 페이지로 이동"
          >뉴스</a
        >
      </li>

      <li class="menu__list-item">
        <a
          href="./notice.html"
          class="menu__list-link"
          title="공지사항 페이지로 이동"
          >공지사항</a
        >
      </li>

      <li class="menu__list-item">
        <a
          href="./contact.html"
          class="menu__list-link"
          title="문의 페이지로 이동"
          >문의</a
        >
      </li>
    </ul>
  </nav>
</div>