@charset "UTF-8";
:root {
  /* 기본 색상 변수 */
  --primary-color: light-dark(rgb(13, 110, 253), rgb(13, 110, 253));
  --primary-clear-color: light-dark(
    rgba(13, 110, 253, 0.2),
    rgba(13, 110, 253, 0.2)
  );
  --primary-bg-color: light-dark(#fff, #272727);
  --primary-text-color: light-dark(#333, #e0e0e0);
  --primary-border-color: light-dark(#333, #e0e0e0);
  --secondary-text-color: light-dark(#757575, #757575);
  --secondary-bg-color: light-dark(#f5f5f5, #444);
  --secondary-border-color: light-dark(#eaedf4, #444);
  --footer-bg-color: light-dark(#f8f8f8, #222);
  --font-size: 100%;
  /* 포트폴리오, 인터뷰, 동료 카드의 배경 색상 */
  --portfolio-bg-color: light-dark(#000, #1e1e1e);
  --interview-bg-color: light-dark(#ece8e5, #1e1e1e);
  --coworker-bg-color: light-dark(#e7e7da, #1e1e1e);
}

.portfolio--slide {
  margin-bottom: 3rem;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}
.portfolio__inner {
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 77.5rem;
  width: 100%;
}
.portfolio__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}
.portfolio__info-wrap {
  position: relative;
  display: flex;
  height: 37.5rem;
}
.portfolio__details-title {
  margin-bottom: 0.5rem;
  line-height: 1;
  font-size: 1.4rem;
}
.portfolio__details-creator {
  font-size: 1rem;
  letter-spacing: 0.24rem;
}
.portfolio__picture {
  position: relative;
  flex: 0 0 70%;
  transition: transform 0.3s ease;
  border-radius: 0.625rem;
  overflow: hidden;
}
.portfolio__picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.portfolio__picture.--active::before {
  opacity: 0;
}
.portfolio__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__picture-wrap {
  position: absolute;
  left: 30%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.portfolio__picture-container {
  display: flex;
  gap: 0.625rem;
  height: 100%;
  transition: transform ease 0.6s;
}
.portfolio__control {
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
.portfolio__control-prev, .portfolio__control-next {
  width: 3.1rem;
  height: 0.8rem;
  z-index: 1;
  cursor: pointer;
}
.portfolio__control-prev {
  background: url("../../images/icon/portfolio/icon_prev_black.svg") no-repeat center/contain;
}
.portfolio__control-next {
  background: url("../../images/icon/portfolio/icon_next_black.svg") no-repeat center/contain;
}

@media screen and (max-width: 1024px) {
  .portfolio__info-wrap {
    height: 31.25rem;
  }
}
@media screen and (max-width: 768px) {
  .portfolio--slide {
    margin-bottom: 1.25rem;
  }
  .portfolio__info {
    width: 100%;
  }
  .portfolio__info-wrap {
    flex-direction: column;
    gap: 1.5rem;
    height: auto;
  }
  .portfolio__details-title {
    margin-bottom: 0.4rem;
    font-size: 1rem;
  }
  .portfolio__details-creator {
    font-size: 0.8rem;
  }
  .portfolio__picture {
    flex: 0 0 100%;
  }
  .portfolio__picture-wrap {
    position: relative;
    left: 0;
  }
  .portfolio__control {
    gap: 0.75rem;
    padding: 0 1.25rem;
  }
  .portfolio__control-prev, .portfolio__control-next {
    width: 2rem;
    height: 0.6rem;
  }
}
/* 다크 모드 */
[data-theme=dark] .portfolio__control-prev {
  background: url("../../images/icon/portfolio/icon_prev_white.svg") no-repeat center/contain;
}
[data-theme=dark] .portfolio__control-next {
  background: url("../../images/icon/portfolio/icon_next_white.svg") no-repeat center/contain;
}

/*# sourceMappingURL=slide-portfolio.css.map */
