body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;

  /* 헤더 */
  #header {
    position: fixed;
    width: 100%;
    height: 5rem;
    z-index: 10;
    transition: background-color ease 0.3s, box-shadow ease 0.3s;

    .header__inner {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      margin: 0 auto;
      padding: 0 1.25rem;
      max-width: 77.5rem;
      width: 100%;
      height: 100%;

      .logo {
        width: 6.25rem;
        height: 2.125rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          &.logo--black {
            display: none;
          }
        }
      }

      .gnb {
        .gnb__list {
          display: flex;
          gap: 2rem;

          .gnb__list-item {
            .gnb__list-link {
              position: relative;
              font-size: 0.8rem;
              color: var(--fixed-light-color);

              &::after {
                content: "";
                position: absolute;
                top: calc(100% + 0.25rem);
                display: block;
                width: 100%;
                height: 0.125rem;
                left: 0;
                opacity: 0;
                transform: scaleX(0);
                transition: all 0.3s ease;
                background-color: var(--fixed-light-color);
              }

              &:hover,
              &.active {
                &::after {
                  opacity: 1;
                  transform: scaleX(1);
                }
              }
            }
          }
        }
      }

      .btn-wrap {
        display: flex;
        align-items: center;
        gap: 1.875rem;
        justify-self: flex-end;

        .btn-hamburger {
          display: none;

          & > i {
            color: var(--fixed-light-color);
          }
        }

        #btn-theme-toggle {
          color: var(--fixed-light-color);
        }
      }
    }

    /* 헤더 활성화 스타일 */
    &.header--sub,
    &.active {
      background-color: var(--primary-bg-color);
      box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.12);

      .header__inner {
        .logo {
          img {
            &.logo--white {
              display: none;
            }

            &.logo--black {
              display: block;
            }
          }
        }

        .gnb {
          .gnb__list {
            .gnb__list-item {
              .gnb__list-link {
                color: var(--primary-text-color);

                &::after {
                  background-color: var(--primary-text-color);
                }
              }
            }
          }
        }

        .btn-hamburger {
          & > i {
            color: var(--primary-text-color);
          }
        }

        #btn-theme-toggle {
          color: var(--primary-text-color);
        }
      }
    }
  }

  /* 사이드바 */
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--primary-bg-color);
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);

    &.sidebar--open {
      transform: translateX(0);
    }

    .sidebar__inner {
      display: flex;
      flex-direction: column;
      height: 100%;

      .sidebar__head {
        display: flex;
        justify-content: flex-end;
        padding: 0 1.25rem;
        height: 3.125rem;
        border-bottom: 0.0625rem solid var(--primary-border-color);

        .btn-close {
          font-size: 1.2rem;
          color: var(--primary-text-color);
        }
      }

      .sidebar__menu {
        flex: 1;
        overflow: hidden;
        overflow-y: auto;
        padding: 0 1.25rem;

        .menu__list {
          padding: 0.625rem 0;

          .menu__list-item {
            .menu__list-link {
              display: inline-block;
              padding: 0.875rem 0;
              width: 100%;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }

  /* 메인 */
  main {
    flex: 1;

    &.main--sub {
      margin: 0 auto;
      padding: 5rem 1.25rem 3.125rem;
      max-width: 77.5rem;
      width: 100%;
    }
  }

  /* 푸터 */
  #footer {
    background-color: var(--footer-bg-color);

    .footer__inner {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 3.75rem 1.25rem;
      max-width: 77.5rem;
      width: 100%;
      font-size: 0.8rem;

      .logo {
        width: 6.25rem;
        height: 2.125rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          &.logo--white {
            display: none;
          }
        }
      }

      .footer__menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 40%;

        .footer__menu-item {
          .footer__menu-title {
            margin-bottom: 1.25rem;
          }

          .footer__list {
            display: flex;
            flex-direction: column;
            gap: 0.625rem;

            .footer__list-item {
              .footer__list-link {
                line-height: 1.2;
                transition: color ease 0.3s;
                word-break: keep-all;

                &:hover {
                  color: var(--primary-color);
                }
              }
            }
          }
        }
      }
    }

    .subfooter {
      padding: 2.5rem 0;
      border-top: 0.0625rem solid var(--secondary-border-color);

      .subfooter__inner {
        margin: 0 auto;
        padding: 0 1.25rem;
        max-width: 77.5rem;
        width: 100%;
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    /* 헤더 */
    #header {
      height: 3.125rem;

      .header__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .logo {
          width: 4rem;
          height: 1rem;
        }

        .gnb {
          display: none;
        }

        .btn-wrap {
          .btn-hamburger {
            display: block;
            font-size: 1.2rem;
          }
        }
      }
    }

    /* 사이드바 */
    #sidebar {
      display: flex;
    }

    main {
      &.main--sub {
        margin: 0 auto;
        padding: 3.125rem 1.25rem;
      }
    }

    /* 푸터 */
    #footer {
      .footer__inner {
        .logo {
          width: 4rem;
          height: 1rem;
        }

        .footer__menu {
          width: 60%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    /* 헤더 */
    #header {
      .header__inner {
        .btn-wrap {
          gap: 1.5rem;
        }
      }
    }

    /* 푸터 */
    #footer {
      .footer__inner {
        flex-direction: column;
        gap: 1.25rem;
        padding: 1.875rem 1.25rem;

        .logo {
          width: 4rem;
          height: 1rem;
        }

        .footer__menu {
          grid-template-columns: repeat(2, 1fr);
          gap: 1.875rem;
          width: 100%;

          .footer__menu-item {
            &:last-child {
              grid-column: 2 span;
            }
          }
        }
      }

      .subfooter {
        padding: 1.25rem;

        .subfooter__inner {
          padding: 0;
        }
      }
    }
  }
}

/* 다크 모드 */
[data-theme="dark"] {
  body {
    /* 헤더 */
    #header {
      &.header--sub,
      &.active {
        .header__inner {
          .logo {
            img {
              &.logo--white {
                display: block;
              }

              &.logo--black {
                display: none;
              }
            }
          }
        }
      }
    }

    /* 푸터 */
    #footer {
      .footer__inner {
        .logo {
          img {
            &.logo--white {
              display: block;
            }

            &.logo--black {
              display: none;
            }
          }
        }
      }
    }
  }
}
