/* 헤더 */
.header {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10;
  transition: background-color ease 0.3s, border-bottom ease 0.3s;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
    width: 100%;
    height: 100%;

    .logo {
      width: 100px;
    }

    .gnb {
      .gnb__list {
        display: flex;

        .gnb__item {
          & > a {
            padding: 0 10px;
            font-size: 0.8rem;
            color: #fff;
            transition: color ease 0.3s;

            &:hover {
              color: var(--primary-color);
            }
          }
        }
      }
    }
  }

  &.active {
    background-color: #fff;
    border-bottom: 1px solid var(--border-color);

    .header__inner {
      .gnb {
        .gnb__list {
          .gnb__item {
            & > a {
              color: var(--text-color);

              &:hover {
                color: var(--primary-color);
              }
            }
          }
        }
      }
    }
  }
}

/* 배너 */
#banner {
  margin: 0 auto;
  max-width: 100%;

  .swiper {
    width: 100%;
    height: 700px;

    .swiper-wrapper {
      .swiper-slide {
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: inline-block;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }

    .swiper-control-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 1240px;
      width: 100%;
      height: 100%;
      z-index: 10;

      .swiper-control {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        width: 100%;

        .swiper-pagination {
          position: static;
          grid-column: 2;
          padding-bottom: 10px;

          .swiper-pagination-bullet {
            width: 14px;
            height: 2px;
            background-color: var(--bullet-bg-color);
            border-radius: 0;
            transition: height ease 0.3s;
          }

          .swiper-pagination-bullet-active {
            height: 4px;
          }
        }

        .swiper-action {
          display: inline-flex;
          justify-self: flex-end;
          align-items: center;

          .swiper-fraction {
            padding: 0 14px;
            height: 24px;
            color: #fff;
            display: inline-flex;
            align-items: center;
            font-size: 0.8rem;
          }

          .swiper-btn-wrap {
            display: flex;
            align-items: center;
            padding-left: 8px;
            background-color: #fff;
            border-radius: 30px;
            height: 40px;

            .swiper-button-prev,
            .swiper-button-next {
              position: static;
              margin-top: 0;
              color: var(--swiper-default-color);

              &::after {
                font-family: "Font Awesome 6 Free";
                font-weight: 600;
                font-size: 1rem;
              }
            }

            .swiper-button-prev {
              &::after {
                content: "\f104";
              }
            }

            .swiper-button-next {
              &::after {
                content: "\f105";
              }
            }

            .btn-play-pause {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: #fff;
              color: var(--swiper-default-color);
              border: 1px solid var(--swiper-default-color);
            }
          }
        }
      }
    }
  }
}

/* 회사 소개*/
#company {
  padding: 50px;

  .company__inner {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}

/* 포트폴리오 */
#portfolio {
  /* border:10px solid yellowgreen ; */

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  overflow: hidden;

  .portfolio__inner {
    /* margin: 0 auto; */
    /* max-width: 1200px; */
    width: 100%;
    display:flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    border:1px solid blue;
  }

  .portfolio__container_1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* border:1px solid red; */
    background: #000;
    height: 85.698rem;
    padding: 12rem 0rem 8rem 10.175rem;
    margin-bottom:12rem;
  }

  .portfolio__container_1__inner {
    background-color: #000;
    width: 181.825rem;
    height: 65.6984rem;
    /* top: 12rem;
    bottom: 8rem;
    left:10.18rem; */
    position: absolute;
    /* border : 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .portfolio__infomation {
    display:flex;
    flex-direction: row;
    width: 45.4563rem;
    height: 60.8984rem;
  }
  .portfolio__infomation__description {
    /* width: 45.4563rem; */
    height: 60.8984rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 45.4563rem;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-self: start;
    flex-shrink: 0;
    /* border:1px solid greenyellow; */
  }
  
  .portfolio__infomation__introduce {
    font-family: var(--portfolio-font-family_1);
    position: relative;
    text-transform: uppercase;
    margin:0.75rem 1.8rem;
    /* border : 1px solid white; */
    font-size:1.2rem;
    font-weight:400;
    color:var(--portfolio-font-white-color);
  }

  .portfolio__infomation__introduce::before {
    content: '';
    width: 0.5rem;
    aspect-ratio: 1;
    background-color:var(--portfolio-bg-white-color);
    border-radius: 50%;
    color:var(--portfolio-font-white-color);
    position: absolute;
    left:-1.8rem;
    top: 0.55rem;
    margin:0;
    border : none;
  }

  .portfolio__image__infomation{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .portfolio__image__infomation__title{
    font-family: var(--portfolio-font-family_1);
    font-size: 2.4rem;
    font-weight: 400;
    color:var(--portfolio-font-white-color);
    margin-bottom: 1rem;
  }
  .portfolio__image__infomation__creater{
    font-family: var(--portfolio-font-family_1);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.24rem;
    color:var(--portfolio-font-white-color);
    text-transform: uppercase;
    margin-bottom: 0.6rem;
  }

  .portfolio__infomation__picture{
    height: 60.8984rem;
    flex-shrink: 0;
    flex-grow:0;
    flex-basis: 107.2313rem;
    object-fit: cover;
    transition: all 0.5s;
    overflow: hidden;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .portfolio__img_controller{
    display:flex;
    height: 4.8rem;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid gold; */
  }

  button{
    width : 3.1rem;
    height: 0.8rem;
    flex-shrink: 0;
    z-index: 10;
    /* border: 1px solid gold; */
    margin: 2rem 1.9rem;
  }

  /* 버튼 위치가 폰트크기를 100%지정하면 안맞음
  내 모니터 가로px 1920
  피그마 설계 가로px 1920
  폰트크기를 62.5%로 변경하고 확인해보니 
  화면상과 동일함
   -> 추후 고려사항. 
      div로 한번 더 감싸서 반응형에 
      유동적으로 따라가도록 해야함.
  */
  .portfolio__img__prev{
    position: absolute;
    left:145rem;
    background: url(../images/icon/icon_btn_prev.svg) no-repeat;
  }
  .portfolio__img__next{
    position: absolute;
    left: 150rem;
    background: url(../images/icon/icon_btn_next.svg) no-repeat;
  }

  /* .portfolio__img__prev:active{
  }
  .portfolio__img__next:active{
    .portfolio__image__modify{
      자식요소가 아니라 당연히 적용 안됨
      flex-shrink: 0;
    }
  } */

  .portfolio__container_2{
    background-color: #fff;
  }
  .portfolio__inner:nth-of-type(2){
    border-bottom: 1px solid var(--portfolio-border-gray-color);
    width:100%;
  }
}

/* 직원 소개 */
#member {
  padding: 50px;
  background-color: var(--member-bg-color);

  .member__inner {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    .member__title {
      margin-bottom: 30px;
    }

    .card {
      display: flex;
      gap: 24px;

      .card__item {
        flex: 1;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: translateY(40%);
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1.25),
          opacity 0.8s ease;

        &.visible {
          opacity: 1;
          transform: translateY(0);
        }

        &:nth-child(1) {
          transition-delay: 0s;
        }

        &:nth-child(2) {
          transition-delay: 0.2s;
        }

        &:nth-child(3) {
          transition-delay: 0.4s;
        }

        &:nth-child(4) {
          transition-delay: 0.6s;
        }

        .card__item-profile {
          height: 280px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .card__item-details {
          padding: 20px;

          .card__item-details-info {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 4px;

            .card__item-details-name {
              font-size: 1.2rem;
            }
          }

          .card__item-details-role {
            font-size: 0.9rem;
            color: var(--secondary-text-color);
          }
        }
      }
    }
  }
}

/* 인터뷰 */
#interview {
  padding: 50px;

  .interview__inner {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}

/* 문의 */
#contact {
  padding: 50px;
  background-color: var(--contact-bg-color);
  color: #fff;

  .contact__inner {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}

/* 푸터 */
.footer {
  width: 100%;
  border-top: 1px solid var(--border-color);
}

.footer__inner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
  width: 100%;
  height: 80px;
  color: var(--footer-text-color);
  font-size: 0.8rem;
}
