/* 헤더 */
.header {
  position: fixed;
  width: 100%;
  height: 5rem;
  z-index: 10;
  transition: background-color ease 0.3s, box-shadow ease 0.3s;

  .header__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 77.5rem;
    width: 100%;
    height: 100%;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6.25rem;

      .logo--black {
        display: none;
      }
    }

    .gnb {
      .gnb__list {
        display: flex;

        .gnb__list-item {
          .gnb__list-link {
            position: relative;
            padding: 0 0.625rem;
            font-size: 0.8rem;
            color: var(--fixed-light-color);

            &::after {
              content: "";
              position: absolute;
              top: calc(100% + 0.25rem);
              display: block;
              width: 100%;
              height: 0.125rem;
              left: 0;
              opacity: 0;
              transform: scaleX(0);
              transition: all 0.3s ease;
              background-color: var(--fixed-light-color);
            }

            &:hover {
              &::after {
                opacity: 1;
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }

    .btn-wrap {
      display: flex;
      align-items: center;
      gap: 1.875rem;
      justify-self: flex-end;

      .btn-hamburger {
        display: none;

        & > i {
          color: var(--fixed-light-color);
        }
      }

      #btn-theme-toggle {
        color: var(--fixed-light-color);
      }
    }
  }

  /* 헤더 활성화 스타일 */
  &.active {
    background-color: var(--primary-bg-color);
    box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.12);

    .header__inner {
      .logo {
        .logo--white {
          display: none;
        }

        .logo--black {
          display: block;
        }
      }

      .gnb {
        .gnb__list {
          .gnb__list-item {
            .gnb__list-link {
              color: var(--primary-text-color);

              &::after {
                background-color: var(--primary-text-color);
              }
            }
          }
        }
      }

      .btn-hamburger {
        & > i {
          color: var(--primary-text-color);
        }
      }

      #btn-theme-toggle {
        color: var(--primary-text-color);
      }
    }
  }
}

/* 사이드바 */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--primary-bg-color);
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);

  &.sidebar--open {
    transform: translateX(0);
  }

  .sidebar__inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    .sidebar__head {
      display: flex;
      justify-content: flex-end;
      padding: 0 1.25rem;
      height: 3.125rem;
      border-bottom: 0.0625rem solid var(--primary-border-color);

      .btn-close {
        font-size: 1.2rem;
        color: var(--primary-text-color);
      }
    }

    .sidebar__menu {
      flex: 1;
      overflow: hidden;
      overflow-y: auto;
      padding: 0 1.25rem;

      .menu__list {
        padding: 0.625rem 0;

        .menu__list-item {
          .menu__list-link {
            display: inline-block;
            padding: 0.875rem 0;
            width: 100%;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

/* 세션 타이틀 (공통) */
section {
  scroll-margin-top: 3.75rem;

  .section__title {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;

    &::before {
      content: "";
      display: inline-block;
      width: 0.5rem;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var(--primary-text-color);
    }
  }
}

/* 배너 */
#banner {
  margin: 0 auto;
  max-width: 100%;

  .swiper {
    width: 100%;
    height: 43.75rem;

    .swiper-wrapper {
      .swiper-slide {
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: inline-block;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }

    .swiper-control-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 77.5rem;
      width: 100%;
      height: 100%;
      z-index: 10;

      .swiper-control {
        position: absolute;
        bottom: 1.25rem;
        right: 1.25rem;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        width: calc(100% - 2.5rem);

        .swiper-pagination {
          position: static;
          grid-column: 2;
          padding-bottom: 0.625rem;

          .swiper-pagination-bullet {
            width: 0.875rem;
            height: 0.125rem;
            border-radius: 0;
            transition: height ease 0.3s;
            background-color: rgba(0, 0, 0, 0.8);
          }

          .swiper-pagination-bullet-active {
            height: 0.25rem;
            background-color: var(--fixed-light-color);
          }
        }

        .swiper-action {
          display: inline-flex;
          justify-self: flex-end;
          align-items: center;

          .swiper-fraction {
            padding: 0 0.875rem;
            height: 1.5rem;
            display: inline-flex;
            align-items: center;
            font-size: 0.8rem;
            color: var(--fixed-light-color);
          }

          .swiper-btn-wrap {
            display: flex;
            align-items: center;
            padding-left: 0.5rem;
            background-color: var(--primary-bg-color);
            border-radius: 1.875rem;
            height: 2.5rem;
            transition: background-color ease 0.3s;

            .swiper-button-prev,
            .swiper-button-next {
              position: static;
              margin: 0 0.125rem;

              &::after {
                font-family: "Font Awesome 6 Free";
                font-weight: 600;
                font-size: 1rem;
                color: var(--primary-text-color);
                transition: color ease 0.3s;
              }
            }

            .swiper-button-prev {
              &::after {
                content: "\f104";
              }
            }

            .swiper-button-next {
              &::after {
                content: "\f105";
              }
            }

            .btn-play-pause {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              color: var(--primary-text-color);
              border: 0.0625rem solid var(--primary-border-color);
              transition: color ease 0.3s, border ease 0.3s;
            }
          }
        }
      }
    }
  }
}

/* 회사 소개*/
#company {
  padding: 3.125rem 1.25rem;

  .company__inner {
    margin: 0 auto;
    max-width: 75rem;
    width: 100%;

    .company__intro {
      display: flex;
      height: 18.75rem;

      .company__info {
        position: relative;
        width: 60%;
        height: 100%;
        transform: translateY(40%);
        opacity: 0;
        transition: all 1s ease-out;
        &.visible {
          transform: translateY(0);
          opacity: 1;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          display: inline-block;
          width: 100%;
          height: 100%;
          background: url("../images/company/bg_company.png") no-repeat right /
            auto 100%;
          z-index: -1;
        }

        .company__description {
          width: 100%;
          max-width: 46.20294rem;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2.4rem;
          margin-bottom: 1.73rem;
          word-break: keep-all;
        }

        .btn-more {
          display: inline-block;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.6875rem;
          text-transform: lowercase;
          transition: color ease 0.5s;

          &:hover {
            color: var(--primary-color);
          }
        }
      }

      .company__thumbnail {
        position: relative;
        width: 40%;
        height: 100%;
        cursor: pointer;
        transform: translateY(40%);
        opacity: 0;
        transition: all 1s ease-out;
        transition-delay: 0.6s;
        border-radius: 0.5rem;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.1);
        }

        &.visible {
          transform: translateY(0);
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .company__card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: stretch;
      gap: 1.5rem;
      margin-top: 2.69rem;
      border-top: 0.0625rem solid var(--secondary-border-color);
      padding-top: 4.69rem;

      .company__card-item {
        flex: 1;
        padding: 1.2rem;
        transition: transform ease 0.5s, box-shadow ease 0.5s;
        cursor: pointer;
        border-radius: 0.5rem;
        background-color: var(--secondary-bg-color);

        &.qna {
          ul {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;

            li {
              a {
                font-weight: 400;
                line-height: 1.8125rem;
                -webkit-text-decoration: underline transparent;
                text-decoration: underline transparent;
                text-overflow: ellipsis;
                text-underline-offset: 0.2rem;
                transition: text-decoration ease 0.3s;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }

        &:not(:first-child):hover {
          transform: scale(1.02);
          box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.12);
        }

        .company__card-title {
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.8125rem;
          margin-bottom: 1rem;
        }

        .company__card-content {
          word-break: keep-all;
        }
      }
    }
  }
}

/* 포트폴리오 */
#portfolio {
  .portfolio__inner-top {
    /* nav 타입 포트폴리오 */
    &.portfolio__inner-top--nav {
      padding: 3.125rem 1.25rem;
      max-width: 100%;
      width: 100%;
      overflow: hidden;

      .portfolio__inner {
        margin: 0 auto;
        max-width: 75rem;

        .portfolio__info-wrap {
          position: relative;
          display: flex;
          height: 37.5rem;

          .portfolio__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30%;

            .portfolio__details {
              .portfolio__details-title {
                margin-bottom: 0.5rem;
                line-height: 1;
                font-size: 1.4rem;
              }

              .portfolio__details-creator {
                font-size: 1rem;
                letter-spacing: 0.24rem;
                text-transform: uppercase;
              }
            }
          }

          .portfolio__picture-wrap {
            position: absolute;
            left: 30%;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .portfolio__picture-container {
              display: flex;
              gap: 0.625rem;
              height: 100%;
              transition: transform ease 0.6s;

              .portfolio__picture {
                position: relative;
                flex: 0 0 70%;
                transition: transform 0.3s ease;
                border-radius: 0.625rem;
                overflow: hidden;

                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background: rgba(0, 0, 0, 0.3);
                  opacity: 1;
                  transition: opacity 0.3s ease;
                }

                &.active {
                  &::before {
                    opacity: 0;
                  }
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }

        .portfolio__control {
          display: flex;
          justify-content: flex-end;
          gap: 1.25rem;
          margin-top: 1.25rem;

          .portfolio__control-prev,
          .portfolio__control-next {
            width: 3.1rem;
            height: 0.8rem;
            z-index: 1;
          }

          .portfolio__control-prev {
            background: url(../images/icon/icon_btn_dark_prev.svg) no-repeat
              center / cover;
          }

          .portfolio__control-next {
            background: url(../images/icon/icon_btn_dark_next.svg) no-repeat
              center / cover;
          }
        }
      }
    }
  }

  /* 포트폴리오2 */
  .portfolio__inner-bottom {
    padding: 3.125rem 1.25rem;

    .portfolio__list {
      border-top: 0.0625rem solid var(--secondary-border-color);
      max-width: 75rem;
      margin: 0 auto;
      padding: 4.25rem 1.25rem;
      display: flex;
      justify-content: center;

      .portfolio__wrapper {
        border-left: 0.0625rem solid var(--secondary-border-color);
        padding-left: 3rem;
        display: flex;
        flex: 1;
        position: relative;
        height: 37.5rem;
        overflow: hidden;
        transition: border-left 0.6s ease;

        &::before {
          content: "";
          position: absolute;
          width: 1.8125rem;
          top: 1.375rem;
          right: 1.4375rem;
          border-top: 0.0625rem solid var(--primary-border-color);
        }

        &::after {
          content: "";
          position: absolute;
          height: 0.6875rem;
          top: 1.0625rem;
          right: 2.25rem;
          border-left: 0.0625rem solid var(--primary-border-color);
          transition: opacity 0.6s ease;
        }

        &:hover {
          cursor: pointer;
        }

        &.active {
          border-left: 0.0625rem solid var(--primary-border-color);
          opacity: 1;
          flex: 30;
          transition: border-left 0.6s ease;
          &:after {
            transition: opacity 0.6s ease;
            opacity: 0;
          }

          .portfolio__card {
            transform: translateX(0);
            opacity: 1;
            cursor: default;
            transition: transform 0.6s ease, opacity 0.6s ease;
          }
        }

        .portfolio__card {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 100%;
          margin-left: 3rem;
          transform: translateX(60%);
          opacity: 0;
          transition: transform 0.6s ease, opacity 0.6s ease;

          .portfolio__img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .portfolio__text-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: 1.5rem;
            padding: 2rem;
            color: var(--primary-text-color);

            .portfolio__description {
              text-align: left;
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1.6875rem;
            }

            .portfolio__readmore {
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1rem;

              &:hover {
                transition: color 0.3s ease;
                color: var(--primary-color);
              }
            }
          }
        }
      }
    }
  }
}

/* 비전 섹션 CSS */
#vision {
  padding: 3.125rem 1.25rem;

  /* 비전 컨테이너 */
  .vision__inner {
    margin: 0 auto;
    max-width: 75rem;
    width: 100%;

    /* 비전 개별 컨테이너 (텍스트, 이미지) */
    .vision__card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30rem;
      margin: 3rem 0;

      /* 비전 텍스트박스(타이틀,내용,버튼) */
      .vision__textBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 2rem 2rem;

        /* 비전 텍스트박스(타이틀) */
        .vision__textBox-title {
          font-size: 3rem;
          position: relative;
          text-transform: uppercase;
          margin-bottom: 0.875rem;

          /* 비전 텍스트박스(타이틀 배경글자) */
          .vision__textBox-backTitle {
            color: var(--primary-color);
            position: absolute;
            left: -1rem;
            top: -2rem;
            z-index: -1;
            font-size: 3.5rem;
            font-weight: 900;
            text-transform: uppercase;
          }
        }

        /* 비전 텍스트박스(내용) */
        .vision__textBox-text {
          font-size: 1rem;
          margin-bottom: 2.3125rem;
        }

        /* 비전 텍스트박스(버튼) */
        .vision__textBox-viewmore {
          transition: color 0.6s ease, transform 0.6s ease;
          padding: 0.875rem 5.060625rem 0.875rem 1.9375rem;
          border: 0.0625rem solid var(--primary-border-color);
          border-radius: 999rem;
          border-right: none;
          position: relative;

          &.link:hover {
            color: var(--primary-color);
            transform: scale(1.1);
          }

          &::after {
            content: "";
            position: absolute;
            top: 0rem;
            bottom: 0rem;
            padding: 0.67rem;
            right: 0;
            width: 3.5rem;
            border: 0.0625rem solid var(--primary-border-color);
            border-radius: 999rem;
            background-size: 2.03125rem;
            /* background-size: 1rem 1rem; */
            background: url(../images/icon/icon_btn_vision-more_dark.svg)
              no-repeat center;
          }
        }
      }
    }
  }
}

/* 직원 소개 */
#coworker {
  padding: 3.125rem 1.25rem;

  .coworker__inner {
    margin: 0 auto;
    max-width: 75rem;
    width: 100%;

    .coworker__card {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      max-width: 75rem;

      .coworker__card-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 14rem;

        .coworker__card-thumbnail {
          width: 100%;
          height: 100%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform ease 0.6s;
          }

          &:hover {
            img {
              transform: scale(1.2);
            }
          }
        }

        .coworker__card-info {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .coworker__card-name {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.8rem;
          }

          .coworker__card-position {
            text-transform: uppercase;
            font-size: 0.75rem;
          }

          .coworker__card-sns {
            a {
              font-size: 0.875rem;
              margin-right: 1rem;
              transition: transform ease 0.6s;

              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }

        .coworker__card-description {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          &.has-bg {
            background-color: var(--secondary-bg-color);
          }
        }

        &:nth-of-type(6) {
          grid-column: 2/3;
        }
      }
    }
  }
}

/* 인터뷰 */
#interview {
  padding: 3.125rem 1.25rem;

  .interview__inner {
    margin: 0 auto;
    max-width: 75rem;
    width: 100%;

    .interview__card {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      max-width: 75rem;

      .interview__card-item {
        transform: translateY(20%);
        opacity: 0;
        transition: all 1s ease-out;
        cursor: pointer;

        &.visible {
          transform: translateY(0);
          opacity: 1;
        }

        &:nth-child(odd) {
          transform: translateY(-20%);

          .interview__card-thumbnail {
            height: 18.75rem;
          }

          &.visible {
            transform: translateY(0);
            opacity: 1;
          }
        }

        &:nth-child(1) {
          transition-delay: 0s;
        }

        &:nth-child(2) {
          transition-delay: 0.2s;
        }

        &:nth-child(3) {
          transition-delay: 0.4s;
        }

        &:nth-child(4) {
          transition-delay: 0.6s;
        }

        &:hover {
          .interview__card-thumbnail {
            img {
              transform: scale(1.2);
            }
          }
        }

        .interview__card-thumbnail {
          margin-bottom: 1rem;
          height: 25rem;
          overflow: hidden;
          border-radius: 0.5rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform ease 0.6s;
          }
        }

        .interview__card-info {
          .interview__card-title {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5625rem;
            margin-bottom: 1.12rem;
            word-break: keep-all;
          }

          .interview__card-date {
            display: flex;
            gap: 0.89rem;
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 0.875rem;
            letter-spacing: 0.15rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

/* 뉴스 */
#news {
  padding: 3.125rem 1.25rem;

  .news__inner {
    margin: 0 auto;
    max-width: 75rem;
    width: 100%;

    .news__container {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      gap: 1.5rem;

      .news__card {
        border-radius: 0.625rem;
        overflow: hidden;
        background-color: var(--secondary-bg-color);
        cursor: pointer;

        /*  뉴스 세로 모드 */
        &.news__card--vertical {
          &:hover {
            .news__card-thumbnail {
              img {
                transform: scale(1.2);
              }
            }

            .news__card-info {
              .news__card-title {
                text-decoration: underline;
              }
            }
          }

          .news__card-thumbnail {
            width: 100%;
            height: 15rem;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform ease 0.6s;
            }
          }

          .news__card-info {
            padding: 1.2rem;

            .news__card-title {
              line-height: 1.6rem;
              font-size: 1.2rem;
              -webkit-text-decoration: underline transparent;
              text-decoration: underline transparent;
              text-overflow: ellipsis;
              text-underline-offset: 0.2rem;
              transition: text-decoration ease 0.3s;
            }

            .new__card-content {
              margin-top: 0.4rem;
            }
          }
        }

        /*  뉴스 가로 모드 */
        &.news__card--horizontal {
          &:hover {
            .news__card-info {
              .news__card-title {
                text-decoration: underline;
              }
            }
          }

          .news__card-info {
            padding: 2rem;

            .news__card-title {
              font-size: 1.2rem;
              -webkit-text-decoration: underline transparent;
              text-decoration: underline transparent;
              text-overflow: ellipsis;
              text-underline-offset: 0.2rem;
              transition: text-decoration ease 0.3s;
            }

            .new__card-content {
              margin-top: 0.4rem;
            }
          }
        }

        &:nth-child(1) {
          grid-row: span 2;
          grid-column: 1;
        }

        &:nth-child(2) {
          grid-row: span 2;
          grid-column: 2;
        }

        &:nth-child(3) {
          grid-row: 1;
          grid-column: 3;
        }

        &:nth-child(4) {
          grid-row: 2;
          grid-column: 3;
        }
      }
    }
  }
}

/* 작업자 소개 */
#member {
  padding: 3.125rem 1.25rem;

  .member__inner {
    margin: 0 auto;
    max-width: 75rem;
    width: 100%;

    .member__card {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;

      .member__card-item {
        flex: 1;
        border-radius: 0.625rem;
        overflow: hidden;
        opacity: 0;
        transform: translateY(40%);
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1.25),
          opacity ease 0.8s;
        background-color: var(--secondary-bg-color);
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          display: inline-block;
          width: 0;
          height: 0;
          border-left: 3.125rem solid transparent;
          border-bottom: 3.125rem solid #f59794;
        }

        &.visible {
          opacity: 1;
          transform: translateY(0);
        }

        &:nth-child(1) {
          transition-delay: 0s;
        }

        &:nth-child(2) {
          transition-delay: 0.2s;

          &::before {
            border-bottom: 3.125rem solid #f0bf4c;
          }
        }

        &:nth-child(3) {
          transition-delay: 0.4s;

          &::before {
            border-bottom: 3.125rem solid #d4ed31;
          }
        }

        &:nth-child(4) {
          transition-delay: 0.6s;

          &::before {
            border-bottom: 3.125rem solid #5bd1d7;
          }
        }

        &:hover {
          .member__card-profile {
            img {
              transform: scale(1.2);
            }
          }
        }

        .member__card-profile {
          height: 17.5rem;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform ease 0.6s;
          }
        }

        .member__card-info {
          padding: 1.25rem;

          .member__card-details {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 0.25rem;

            .member__card-name {
              font-size: 1.2rem;
            }
          }

          .member__card-role {
            font-size: 0.9rem;
            color: var(--secondary-text-color);
          }
        }
      }
    }
  }
}

/* 공지사항 */
#notice {
  padding: 3.125rem 1.25rem;

  .notice__inner {
    margin: 0 auto;
    max-width: 75rem;
    width: 100%;

    .notice__container {
      display: grid;
      grid-template-columns: 1fr;
      border-radius: 0.625rem;
      border: 0.0625rem solid var(--secondary-border-color);
      overflow: hidden;

      .notice__list {
        .notice__list-title {
          margin: 1.4rem 0 0 1.4rem;
          .notice__title-a {
            padding-bottom: 0.5rem;
            border-bottom: 0.0625rem solid var(--secondary-border-color);
            font-size: 1.5rem;
          }
        }

        .notice__list-item {
          padding: 1.4rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 2rem;
          /* position: relative; */

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            border-bottom: 0.0625rem solid var(--secondary-border-color);
          }
          &:last-child {
            border-bottom: none;
          }

          .notice__list-box {
            flex: 1;

            .notice__box-title {
              font-size: 1.125rem;
              font-weight: 400;
              letter-spacing: 0.04375rem;
              text-transform: uppercase;
              margin-bottom: 0.4rem;
            }

            .notice__box-content {
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.5rem;
              color: var(--secondary-text-color);
            }
          }

          .notice__list-viewmore {
            .notice__viewmore-a {
              display: flex;
              align-items: center;
              gap: 0.3rem;
              font-size: 0.8rem;
              transition: color ease 0.3s;

              &:hover {
                color: var(--primary-color);

                .notice__viewmore-img {
                  background: url("/images/notice/ico_pointer_main.svg")
                    no-repeat center / auto 100%;
                }
              }

              .notice__viewmore-img {
                width: 2rem;
                height: 1.2rem;
                background: url("/images/notice/ico_pointer.svg") no-repeat
                  center / auto 100%;
                transition: background ease 0.3s;
              }
            }
          }
        }
      }
    }
  }
}

/* 문의 */
#contact {
  padding: 3.125rem 1.25rem;

  .contact__inner {
    margin: 0 auto;
    max-width: 75rem;
    width: 100%;

    .contact__title {
      margin-bottom: 1.875rem;
    }

    .contact__content {
      display: flex;
      gap: 3rem;
      height: 21.875rem;

      #map {
        flex: 1;
        height: 21.875rem !important;
        border-radius: 0.625rem;
        border: 0.0625rem solid var(--primary-border-color);
      }

      .contact__info {
        width: 34%;

        .contact__info-title {
          position: relative;
          margin-bottom: 0.625rem;
          font-size: 1.4rem;
        }

        .contact__details {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          .contact__details-item {
            padding: 0.875rem 0;
            border-bottom: 0.0625rem solid var(--primary-border-color);

            &:has(.address) {
              display: flex;
              justify-content: space-between;
            }

            &.full-type {
              grid-column: 2 span;
            }

            .contact__details-title {
              margin-bottom: 0.625rem;
            }

            .contact__details-text {
              position: relative;
              display: block;
              padding-left: 1.25rem;

              &::before {
                position: absolute;
                top: 0.3rem;
                left: 0;
                margin-right: 0.625rem;
                font-family: "Font Awesome 6 Free";
                font-weight: 600;
                font-size: 0.8rem;
              }

              &.address {
                flex: 1;

                &::before {
                  content: "\f3c5";
                }
              }

              &.phone,
              &.inquiry {
                &::before {
                  content: "\f095";
                }
              }

              &.email {
                &::before {
                  content: "\f0e0";
                }
              }
            }

            .btn-find-route {
              a {
                padding: 0.25rem 0.5rem;
                border-radius: 0.25rem;
                font-size: 0.8rem;
                transition: background-color ease 0.3s;

                & > i {
                  margin-right: 0.5rem;
                }

                &:hover {
                  background-color: var(--primary-color);
                }
              }
            }
          }
        }
      }
    }
  }
}

/* 푸터 */
.footer {
  background-color: var(--footer-bg-color);

  .footer__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 3.75rem 1.25rem;
    max-width: 77.5rem;
    width: 100%;
    font-size: 0.8rem;

    .logo {
      width: 6.25rem;

      .logo--white {
        display: none;
      }
    }

    .footer__menu {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 40%;

      .footer__menu-item {
        .footer__menu-title {
          margin-bottom: 1.25rem;
        }

        .footer__list {
          display: flex;
          flex-direction: column;
          gap: 0.625rem;

          .footer__list-item {
            .footer__list-link {
              line-height: 1.2;
              transition: color ease 0.3s;
              word-break: keep-all;

              &:hover {
                color: var(--primary-color);
              }
            }
          }
        }
      }
    }
  }

  .subfooter {
    padding: 2.5rem 0;
    border-top: 0.0625rem solid var(--secondary-border-color);

    .subfooter__inner {
      margin: 0 auto;
      padding: 0 1.25rem;
      max-width: 77.5rem;
      width: 100%;
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  /* 헤더 */
  .header {
    height: 3.125rem;

    .header__inner {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .gnb {
        display: none;
      }

      .btn-wrap {
        .btn-hamburger {
          display: block;
          font-size: 1.2rem;
        }
      }
    }
  }

  /* 배너 */
  #banner {
    .swiper {
      height: 37.5rem;
    }
  }

  /* 포트폴리오 */
  #portfolio {
    .portfolio__inner-top {
      /* nav 타입 포트폴리오 */
      &.portfolio__inner-top--nav {
        .portfolio__inner {
          .portfolio__info-wrap {
            height: 31.25rem;
          }
        }
      }
    }

    .portfolio__inner-bottom {
      .portfolio__list {
        .portfolio__wrapper {
          height: 31.25rem;

          .portfolio__card {
            .portfolio__text-box {
              padding: 2rem;
            }
          }
        }
      }
    }
  }

  /* 직원 소개 */
  #coworker {
    .coworker__inner {
      .coworker__card {
        grid-template-columns: repeat(4, 1fr);

        .coworker__card-item {
          &:nth-child(5) {
            grid-column: 2 span;
          }
        }
      }
    }
  }

  /* 인터뷰 */
  #interview {
    .interview__inner {
      .interview__card {
        grid-template-columns: repeat(2, 1fr);

        .interview__card-item {
          &:nth-child(even) {
            .interview__card-thumbnail {
              height: 18.75rem;
            }
          }
        }
      }
    }
  }

  /* 작업자 소개 */
  #member {
    .member__inner {
      .member__card {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  /* 문의 */
  #contact {
    .contact__inner {
      .contact__content {
        gap: 1.5rem;
        height: auto;

        .contact__info {
          width: 50%;
        }
      }
    }
  }

  /* 푸터 */
  .footer {
    .footer__inner {
      .footer__menu {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  /* 헤더 */
  .header {
    .header__inner {
      .logo {
        width: 5rem;
      }

      .btn-wrap {
        gap: 1.5rem;
      }
    }
  }

  /* 세션 타이틀 (공통) */
  section {
    scroll-margin-top: 3.125rem;

    .section__title {
      margin-bottom: 1.4rem;
    }
  }

  /* 배너 */
  #banner {
    .swiper {
      height: 25rem;

      .swiper-control-wrap {
        .swiper-control {
          right: 0;
          padding: 0 1.25rem;
          width: 100%;

          .swiper-action {
            .swiper-fraction {
              display: none;
            }

            .swiper-btn-wrap {
              padding-left: 0.25rem;
              height: 2.125rem;

              .swiper-button-prev,
              .swiper-button-next {
                width: 1.25rem;

                &::after {
                  font-size: 0.8rem;
                }
              }

              .btn-play-pause {
                width: 2.125rem;
                height: 2.125rem;
              }
            }
          }
        }
      }
    }
  }

  /* 회사 소개 */
  #company {
    padding: 1.25rem;

    .company__inner {
      .company__intro {
        flex-direction: column;
        gap: 1.5rem;
        height: auto;

        .company__info {
          width: 100%;

          .company__description {
            margin-bottom: 1rem;
            line-height: 1.4rem;
            font-size: 1rem;
          }

          .btn-more {
            font-size: 0.8rem;
          }
        }

        .company__thumbnail {
          width: 100%;
          height: 9.5rem;
        }
      }

      .company__card {
        grid-template-columns: 1fr;
        gap: 0.75rem;
        margin-top: 1.5rem;
        padding-top: 1.5rem;

        .company__card-item {
          &.qna {
            & ul {
              & li {
                a {
                  font-size: 1rem;
                }
              }
            }
          }

          .company__card-title {
            margin-bottom: 0.2rem;
            font-size: 1rem;
          }

          .company__card-content {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  /* 포트폴리오 */
  #portfolio {
    padding: 1.25rem;

    .portfolio__inner-top {
      /* nav 타입 포트폴리오 */
      &.portfolio__inner-top--nav {
        padding: 0 0 1.25rem 0;

        .portfolio__inner {
          .portfolio__info-wrap {
            flex-direction: column;
            gap: 1.5rem;
            height: auto;

            .portfolio__info {
              width: 100%;

              .portfolio__details {
                .portfolio__details-title {
                  margin-bottom: 0.4rem;
                  font-size: 1rem;
                }

                .portfolio__details-creator {
                  font-size: 0.8rem;
                }
              }
            }

            .portfolio__picture-wrap {
              position: relative;
              left: 0;

              .portfolio__picture-container {
                .portfolio__picture {
                  flex: 0 0 100%;
                }
              }
            }
          }

          .portfolio__control {
            gap: 0.75rem;
            padding: 0 1.25rem;

            .portfolio__control-prev,
            .portfolio__control-next {
              width: 2rem;
              height: 0.6rem;
            }
          }
        }
      }
    }

    .portfolio__inner-bottom {
      padding: 1.25rem 0 0 0;
      width: 100%;

      .portfolio__list {
        flex-direction: column;
        padding: 0;

        .portfolio__wrapper {
          flex-direction: column;
          border-top: 0.0625rem solid var(--secondary-border-color);
          border-left: none;
          padding: 0;
          padding-top: 3rem;
          transition: color ease 0.3s, border ease 0.3s;

          &.active {
            border-top: 0.0625rem solid var(--primary-border-color);
            border-left: none;
            transition: color ease 0.3s, border ease 0.3s;

            .portfolio__card {
              height: auto;
              transform: translate(0, 0);

              .portfolio__img {
                height: 12rem;
              }
            }
          }

          .portfolio__card {
            margin: 0;
            height: 0;
            padding: auto;
            overflow: hidden;
            flex-direction: column;
            width: 100%;
            height: 0;
            transform: translate(0, 100%);

            .portfolio__img {
              width: 100%;
              height: 100%;
            }

            .portfolio__text-box {
              justify-content: flex-start;
              height: 100%;
              padding: 1.2rem 0;
              gap: 0.8rem;

              .portfolio__readmore {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }

  #vision {
    padding: 1.25rem;
    padding-top: 0;
    margin-top: 0;

    .vision__inner {
      .vision__card {
        display: grid;
        grid-template-rows: 2;
        height: 30rem;

        .vision__image__container {
          grid-row: 1;
          height: 100%;
          overflow: hidden;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .vision__textBox {
          grid-row: 2;

          .vision__textBox-title {
            font-size: 2rem;
            .vision__textBox-backTitle {
              font-size: 2.5rem;
              top: -1.25rem;
            }
          }

          .vision__textBox-text {
            font-size: 1rem;
          }

          .vision__textBox-viewmore {
            font-size: 0.8rem;
            border-right: none;
          }
        }
      }
    }
  }

  /* 직원 소개 */
  #coworker {
    padding: 1.25rem;
    .coworker__inner {
      .coworker__card {
        grid-template-columns: repeat(2, 1fr);

        .coworker__card-item {
          height: 10rem;
          &:nth-of-type(6),
          &:nth-of-type(8) {
            grid-column: 1/2;
          }
        }
      }
    }
  }

  /* 인터뷰 */
  #interview {
    padding: 1.25rem;

    .interview__inner {
      .interview__card {
        gap: 0.75rem;

        .interview__card-item {
          &:nth-child(even),
          &:nth-child(odd) {
            .interview__card-thumbnail {
              margin-bottom: 0.75rem;
              height: 9.375rem;
            }
          }

          .interview__card-info {
            .interview__card-title {
              margin-bottom: 0.4rem;
              line-height: 1.3rem;
              font-size: 1rem;
            }

            .interview__card-date {
              flex-direction: column;
              gap: 0.2rem;

              .interview__card-separator {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  /* 뉴스 */
  #news {
    padding: 1.25rem;

    .news__inner {
      .news__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;

        .news__card {
          /* 뉴스 세로 모드 */
          &.news__card--vertical {
            .news__card-thumbnail {
              height: 9.375rem;
            }

            .news__card-info {
              padding: 0.8rem;

              .news__card-title {
                font-size: 1rem;
              }

              .new__card-content {
                margin-top: 0.2rem;
                font-size: 0.8rem;
              }
            }
          }

          /* 뉴스 가로 모드 */
          &.news__card--horizontal {
            .news__card-info {
              padding: 0.8rem;

              .news__card-title {
                font-size: 1rem;
              }

              .new__card-content {
                margin-top: 0.2rem;
                font-size: 0.8rem;
              }
            }
          }

          &:nth-child(1) {
            grid-row: unset;
            grid-column: unset;
          }

          &:nth-child(2) {
            grid-row: unset;
            grid-column: unset;
          }

          &:nth-child(3) {
            grid-row: unset;
            grid-column: 2 span;
          }

          &:nth-child(4) {
            grid-row: unset;
            grid-column: 2 span;
          }
        }
      }
    }
  }

  /* 작업자 소개 */
  #member {
    padding: 1.25rem;

    .member__inner {
      .member__card {
        gap: 0.75rem;

        .member__card-item {
          &:nth-child(2) {
            &::before {
              border-bottom: 2.5rem solid #f0bf4c;
            }
          }

          &:nth-child(3) {
            &::before {
              border-bottom: 2.5rem solid #d4ed31;
            }
          }

          &:nth-child(4) {
            &::before {
              border-bottom: 2.5rem solid #5bd1d7;
            }
          }

          &::before {
            border-left: 2.5rem solid transparent;
            border-bottom: 2.5rem solid #f59794;
          }

          .member__card-profile {
            height: 9.375rem;
          }

          .member__card-info {
            padding: 0.8rem;

            .member__card-details {
              flex-direction: column;
              align-items: flex-start;
              gap: 0;

              .member__card-name {
                font-size: 1rem;
              }

              .member__card-separator {
                display: none;
              }

              .member__card-english-name {
                font-size: 0.8rem;
              }
            }

            .member__card-role {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  /* 공지사항 */
  #notice {
    padding: 1.25rem;

    .notice__inner {
      .notice__container {
        grid-template-columns: 1fr;
        max-width: 100%;

        .notice__title {
          display: none;
        }

        .notice__list {
          .notice__list-item {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.8rem;
            padding: 0.8rem;

            .notice__list-box {
              width: 100%;
              padding: 0 0.7rem;
              .notice__box-title {
                margin-bottom: 0.6rem;
                font-size: 1rem;
              }

              .notice__box-content {
                line-height: 1.2rem;
                font-size: 0.8rem;
              }
            }

            .notice__list-viewmore {
              .notice__viewmore-a {
                font-size: 0.8rem;
                margin-left: 0.7rem;
                .notice__viewmore-img {
                  width: 1rem;
                  height: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }

  /* 문의 */
  #contact {
    padding: 1.25rem;

    .contact__inner {
      .contact__content {
        flex-direction: column;
        gap: 1.875rem;

        #map {
          height: 12.5rem !important;
          flex: unset;
        }

        .contact__info {
          width: 100%;

          .contact__details {
            .contact__details-item {
              .contact__details-text {
                font-size: 0.8rem;

                &::before {
                  top: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  /* 푸터 */
  .footer {
    .footer__inner {
      flex-direction: column;
      gap: 1.25rem;
      padding: 1.875rem 1.25rem;

      .logo {
        width: 5rem;
      }

      .footer__menu {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.875rem;
        width: 100%;

        .footer__menu-item {
          &:last-child {
            grid-column: 2 span;
          }
        }
      }
    }

    .subfooter {
      padding: 1.25rem;

      .subfooter__inner {
        padding: 0;
      }
    }
  }
}

/* 다크 모드 */
[data-theme="dark"] {
  /* 헤더 */
  .header {
    &.active {
      .header__inner {
        .logo {
          .logo--white {
            display: block;
          }

          .logo--black {
            display: none;
          }
        }
      }
    }
  }

  /* 공지사항 */
  #notice {
    .notice__inner {
      .notice__container {
        .notice__list {
          .notice__list-item {
            .notice__list-viewmore {
              .notice__viewmore-a {
                &:hover {
                  .notice__viewmore-img {
                    background: url("/images/notice/ico_pointer_main.svg")
                      no-repeat center / auto 100%;
                  }
                }

                .notice__viewmore-img {
                  background: url("/images/notice/ico_pointer_white.svg")
                    no-repeat center / auto 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  /* 포트폴리오 */
  #portfolio {
    /* nav 타입 포트폴리오 */
    .portfolio__inner-top {
      &.portfolio__inner-top--nav {
        .portfolio__inner {
          .portfolio__control {
            .portfolio__control-prev {
              background: url(../images/icon/icon_btn_prev.svg) no-repeat center /
                cover;
            }

            .portfolio__control-next {
              background: url(../images/icon/icon_btn_next.svg) no-repeat center /
                cover;
            }
          }
        }
      }
    }
  }

  /* 비전 */
  #vision {
    .vision__inner {
      .vision__card {
        .vision__text_Box {
          .vision__textBox-viewmore {
            &::after {
              background: url(../images/icon/icon_btn_vision-more_white.svg)
                no-repeat center;
            }
          }
        }
      }
    }
  }

  /* 푸터 */
  .footer {
    .footer__inner {
      .logo {
        .logo--white {
          display: block;
        }

        .logo--black {
          display: none;
        }
      }
    }
  }
}